<form [formGroup]="myform" (ngSubmit)="saveInterpreter()">
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Interpreter Name</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Langue</mat-label>
        <input formControlName="langue" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input type="date" id="date" formControlName="date" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Heure</mat-label>
        <input type="time" id="time" formControlName="heure" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <input formControlName="status" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <input formControlName="type" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ville</mat-label>
        <input formControlName="ville" matInput>
      </mat-form-field>

      <!-- File Upload Section -->
    <div class="upload-container">
      <label for="fileInput" class="file-upload-label">
        <img src="assets/upload.png" alt="Upload Icon" />
        <span>Upload image</span>
      </label>
      <input formControlName="imageUrl" id="fileInput" type="file" (change)="onFileSelected($event)" class="file-input" />
    </div>

     <!-- Preview image -->
     <img *ngIf="imagePreview" [src]="imagePreview" alt="Interpreter Image" width="100" height="100" />
    
    </div>
    <div mat-dialog-actions>
      
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button (click)="closepopup()" mat-raised-button color="accent">Close</button>
      <!--<button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button>-->
    </div>
  </form>